h1, h2, p{
    color: black;
}

.nospace{
    margin: 0;
    }

.title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.background{
    background-color: whitesmoke;
    }

.navbar {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 32px;
}

.logo {
    color: #D7C78B;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #D7C78B;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 6px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Container voor alle projecten */
.projects-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap; /* voor mobiel */
}

/* Project card */
.project-card {
    width: 700px;
    background-color: #eaeaea;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
}

/* Groene titelbalk */
.project-title {
    background-color: #2ecc71;
    color: white;
    padding: 14px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

/* Inhoud */
.project-content {
    padding: 20px;
    text-align: center;
}

.dashboard-img {
    width: 550px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 14px;
}

.project-content p {
    color: #333;
    font-size: 14px;
    margin: 0;
}
